* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

/*----------------------------------------------------------------

                            HEADER
                
----------------------------------------------------------------*/

header {
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 0;
  height: 10vh;
  position: absolute;
  width: 100vw;
  font-weight: 500;
}

header i {
  font-size: 40px;
  color: #00adb5;
}

.lista {
  display: flex;
  gap: 15px;
  list-style: none;
}

.lista-a {
  text-decoration: none;
  color: #00adb5;
  transition: 0.25s;
  font-weight: 600;
}

.lista-a:hover {
  color: #f4f4f4;
}

/*----------------------------------------------------------------

                            MAIN
                
----------------------------------------------------------------*/

#Inicio {
  background-color: #050505;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

#Inicio h2{
  transition: 0.5s;
}

#titulo {
  font-size: 2rem;
  color: #00adb5;
}

#subtitulo {
  font-size: 4rem;
  color: #f4f4f4;
}

#Inicio p {
  font-size: 2rem;
  color: #bebebe;
}

.Inicio-p {
  display: inline;
}

#Inicio #Programador {
  color: #00adb5;
}

/*----------------------------------------------------------------

                            PERFIL
                
----------------------------------------------------------------*/

#Perfil {
  min-height: 100vh;
}

#Perfil {
  background-color: #0f0f0f;
  box-sizing: border-box;
}

#Perfil h2,
#Perfil div {
  padding: 2rem 3rem;
}

#Perfil h2 {
  font-size: 2.5rem;
}

#Perfil div p,
#Perfil div nav,
#Redes {
  padding: 0.2rem;
  font-size: 1.2rem;
  color: #f4f4f4;
}

#Perfil h3 {
  padding: 1rem 3rem;
  font-size: 2.2rem;
}

#Perfil h3,
#Perfil h2,
#Perfil h4 {
  color: #00adb5;
  font-weight: 500;
}

#Perfil h4 {
  padding: 0rem 3rem;
  font-size: 2rem;
}

#Redes {
  padding: 2rem 3rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}

#Redes li a {
  text-decoration: none;
  color: #f4f4f4;
  transition: 0.3s;
}

#Redes li a:hover {
  color: #00adb5;
}

/*----------------------------------------------------------------

                            Habilidades
                
----------------------------------------------------------------*/

#Habilidades {
  height: 100vh;
  background-color: #000000;
}

#Habilidades-Titulo {
  color: #00adb5;
  padding: 1rem 3.5rem;
  font-size: 3rem;
}

#Habilidades p {
  padding: 0.5rem 3rem;
  font-weight: 500;
}

#Habilidades p {
  color: #f4f4f4;
  font-size: 1.1rem;
}

#Habilidades a {
  color: #f4f4f4;
  text-decoration: none;
  transition: 0.3s;
}

#Habilidades a:hover {
  color: #00adb5;
}

#Habilidades ul {
  height: 40vh;
  list-style: none;
  /*display: flex;
  justify-content: space-around;
  align-items: flex-end;*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 1rem 2rem;
}

#Habilidades li {
  width: 240px;
  height: 220px;
  background-color: #1c1c20;
  color: #f4f4f4;
}

#Habilidades li,
.li-header,
.li-text {
  transition: 0.3s;
}

.li-header,
.li-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-header {
  width: 100%;
  height: 70%;
}

.li-text {
  height: 30%;
  width: 100%;
}

#html {
  background-color: rgb(255, 123, 0);
}

#css {
  background-color: #0077ff;
}

#js {
  background-color: #ffc400;
}

#git {
  background-color: rgb(255, 123, 0);
}

#react {
  background-color: rgb(25, 0, 255);
}

#Habilidades li img {
  width: 5rem;
}

.li-header:hover {
  height: 100%;
}

.li-header:hover ~ .li-text {
  font-size: 0;
  height: 0;
}

/*----------------------------------------------------------------

                            Proyectos
                
----------------------------------------------------------------*/

#Proyectos {
  background-color: #0f0f0f;
  height: 90vh;
}

#proyectos-h2,
#Contacto h2 {
  padding: 2rem 2rem 0 2rem;
  font-weight: 500;
}

#proyectos-h2 {
  color: #00adb5;
  font-size: 3rem;
}

#proyectos-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  margin: 5rem 2rem;
  height: 70vh;
}

.proyectos-item {
  margin: 0 1rem;
  overflow: hidden;
  height: 15.625rem;
  width: 13.756rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.452);
  border-radius: 2px;
}

#Ejemplo1 {
  background-image: url(img/P1.png);
}

#Ejemplo2 {
  background-image: url(img/P2.png);
}

#Ejemplo3 {
  background-image: url(img/P3.png);
}

#Ejemplo4 {
  background-image: url(img/P4.png);
}

#Ejemplo5{
  background-image: url(img/P5.png);
  background-size: contain;
  background-color: #000000;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: #00adb5;
  color: #1a1a1b;
  text-align: center;
  padding: 5px;
}

.proyectos-item a {
  text-decoration: none;
}

.overlay h2 {
  padding: 5px;
}

.overlay:hover {
  opacity: 0.9;
}

.overlay p {
  font-weight: 500;
  color: #f4f4f4;
}

/* Contacto 

#contacto{
    padding: 20px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#contacto, .formulario-item{
    background-color: #333333;
}

#contacto h2{
    color: #00ADB5;
    font-size: 2.5rem;
    padding: 2rem 3rem;
}

#formulario{
    
    display: flex;
    flex-direction: column;
}

.formulario-item{
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #F4F4F4;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#submit{
    background-color: #00ADB5;
    pointer-events: auto;
    color: #000000;
    transition: 0.3s;
}

#submit:hover{
    color: #00ADB5;
    background-color: #F4F4F4;
}

#contacto h2{
    bottom: 0;
}

textarea{
    resize: none;
}

*/

/*----------------------------------------------------------------

                            Footer
                
----------------------------------------------------------------*/

footer {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00adb5;
  color: #000000;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

footer {
  font-size: 1.2rem;
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  color: #f4f4f4;
}

.footer-icono {
  text-decoration: none;
  color: #000000;
}

.fa-brands {
  margin: 5px;
  font-size: larger;
}

/*----------------------------------------------------------------

                            RESPONSIVE
                
----------------------------------------------------------------*/

@media (max-width: 1298px){
  #Habilidades li{
    width: 200px;
    height: 180px;
  }
}

@media (max-width: 1070px){
  #Habilidades li{
    width: 180px;
    height: 160px;
  }
  
  #proyectos-grid{
    grid-template-columns: repeat(auto-fill, 190px);
    grid-template-rows: 250px;
  }
  
}

@media (max-width: 1028px){
  #Proyectos{
    height: 130vh;
  }
}

@media (max-width: 648px){
  #Proyectos{
    height: 250vh;
  }
  
  #proyectos-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    height: 80%;
  }
  
  
}

@media (max-width: 973px){
  #Habilidades li{
    height: 140px;
    width: 120px;
  }
}

@media (max-width: 671px){
  #Habilidades{
    height: 200vh;
  }

  #Habilidades ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
  }
  
}

@media (max-width: 1291px) {

  
  .proyectos-item{
    height: 14.625rem;
    width: 12.756rem;
    font-size: 13px;
  }
}

@media (max-width: 1219px){
  
  .proyectos-item{
    height: 12.625rem;
    width: 10.756rem;
    font-size: 10px;
    font-weight: 800;
  }
  
}

@media (max-width: 561px){
  footer{
    font-size: small;
    font-weight: 600;
  }
}

@media (max-width: 748px){
  *{
    text-align: center;
  }

  #subtitulo{
    font-size: 3rem;
  }
  
  #subtitulo{
    margin-bottom: 15px;
  }
  
  #Inicio p{
    font-size: 1.5rem;
  }
  
}

@media (max-width: 599px){
  .lista{
    font-size: 10px;
    font-weight: 900;
  }

  #subtitulo{
    font-size: 2.5rem;
  }
  
  #Inicio p{
    font-size: 1rem;
  }
}

@media (max-width: 502px){
  #titulo{
    font-size: 1.5rem;
  }

  #subtitulo{
    font-size: 2rem;
  }
  
}